$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-dark: #777;
$color-white: #fff;
$color-black: #000; 
$color-grey-light-1: #f7f7f7;
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-vertical-small: 6rem;
$grid-horizontal: 6rem;
$grid-color:  #f7f7f7;
$default-font-size: 1.6rem;
$border-rad: 3px;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333; 

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-ter-light: #2998ff;
$color-ter-dark: #5643fa;

$shadow: 0 1.5rem 4rem rgba($color-black, .15);

$border-color: #eee;